<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-12">
		<div class="well" >
		  <!--style="background:url(<%#=@artist.avatar.url%>)"-->
		   <% if @artist.avatar.exists? %>
		     <%= image_tag @artist.avatar.url(:thumb) %>
		   <% end %>
			<h1><%= @artist.name %></h1>

			<%# if !@artist.songs.empty? %>
				<% @artist.songs.each do |song| %>
				  <h3><%= link_to song.name, song %></a></h3>
				<% end %>
			<%# end %>
			<p><%= link_to new_song_path do %>
			  <span class="glyphicon glyphicon-plus"></span> Add Another Song
			  <% end %>
			</p>

		</div>
	</div>
</div>
<p><%= link_to new_artist_path do %>
  <span class="glyphicon glyphicon-plus"></span> Add Another Artist
  <% end %>
</p>

<%#= link_to 'Edit', edit_artist_path(@artist) %> 
<%#= link_to 'Back', artists_path %>

